<div class="component-wrapper">
	<mat-card>
		<div class="model-viewer">
			<img mat-card-image src="https://placehold.co/390x390">
		</div>
		<mat-card-actions>
			<button mat-raised-button color="primary">
				<span class="material-icons">search</span>
				&nbsp;Agrandar visor
			</button>
			<button mat-stroked-button color="primary">
				<span class="material-icons">upload</span>
			</button>
			<button mat-stroked-button color="primary">
				<span class="material-icons">download</span>
			</button>
		</mat-card-actions>
	</mat-card>
</div>
