<div class="component-wrapper">
	<mat-card>
		<div class="model-viewer">
			<img mat-card-image src="https://placehold.co/390x390">
		</div>
		<div class="card-content">
			<mat-card-header>
				<span class="order-name">Mesa de noche</span>
				<span class="order-number">Pedido #123456</span>
			</mat-card-header>
				<p>Fecha límite: 26/12/2023</p>
				<p>Presupuesto: $ 2000</p>
		</div>
		<mat-card-actions>
			<button mat-raised-button color="primary">Ver más</button>
			<button mat-stroked-button color="primary">Cancelar pedido</button>
		</mat-card-actions>
	</mat-card>
</div>
