<div class="component-wrapper">
  <div class="details-box">
    <div class="header">
      <span class="display-large"> Mesa de noche </span>
      <span class="headline-small"> Pedido #156 </span>
    </div>
    <div class="contents">
			<div class="due-date">
				<span class="title-large"> Fecha de entrega: </span>
				<span class="title-large"> 12/12/2019 </span>
			</div>
			<div class="price">
				<span class="title-large"> Precio: </span>
				<span class="title-large"> $ 1,200.00 </span>
			</div>
			<div class="party">
				<span class="title-large"> Cliente: </span>
				<span class="title-large"> Juan Perez </span>
			</div>
			<div class="details">
				<span class="title-large"> Detalles: </span>
				<span class="title-large"> Lorem ipsum dolor sit amet consectetur adipisicing elit. </span>
			</div>
		</div>
  </div>
</div>
