<div class="component-wrapper">
  <mat-card>
    <div class="card-info">
      <mat-card-header>
        <mat-card-title>
          <div class="card-headline">Item Card Title</div>
          <div class="card-subhead">
						<span>Pedido #123 |</span>
						<span class="progress-symbol">&nbsp;•&nbsp;</span>
						<span>En fabricación</span>
					</div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Fecha límite: 26/12/2023</p>
				<p>Presupuesto: $ 2000 </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Ver más</button>
      </mat-card-actions>
    </div>
    <div class="card-image">
      <img mat-card-image src="https://placehold.co/600x400" />
    </div>
  </mat-card>
</div>
