<div class="component-wrapper">
  <mat-card>
    <div class="card-info">
      <mat-card-header>
        <mat-card-title>
          <div class="card-headline">{{ order.title }}</div>
          <div class="card-subhead">
            <span
              >Pedido #{{ order.id }} | {{ getOrderStatus(order.status) }}</span
            >
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Fecha límite: {{ order.dueDate | date : "dd/MM/yyyy" }}</p>
        <p>Presupuesto: $ {{ order.budget }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="navigateToDetails()">
          Ver más
        </button>
      </mat-card-actions>
    </div>
    <div class="card-image">
      <img mat-card-image :src="{{ order }}" />
    </div>
  </mat-card>
</div>
